{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}Reservations
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
  <h1>Reservation site</h1>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  {% block script %}
  {% endblock %}
  <nav>
    {% if user.is_authenticated %}
    Hi {{ user.email }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <p><a href="/admin" target="_blank">Adminstration site</a></p>
    <p><a href="/reservations">Reservations</a></p>
    <p><a href="/reservations/bookings">Bookings</a></p>
    <p><a href="/reservations/stats/highestratedroom">Highest Rated Room</a></p>
    <p><a href="/reservations/stats/fivebestcustomers">Five Best Customers</a></p>
    <p><a href="/reservations/stats/highestratedbreakfast">Highest Rated Breakfast</a></p>
    <p><a href="/reservations/stats/highestratedservice">Highest Rated Service</a></p>
  </nav>
</body>

</html>